parameters:
    level: max
    paths:
        - src
        - tests
        - config
    ignoreErrors:
        - '#Property Rekalogika\\DirectPropertyAccess\\Tests\\Stub::\$property is never read#'
        - '#Property Rekalogika\\DirectPropertyAccess\\Tests\\Stub::\$unsetProperty is unused#'